---
tags:
  - Lesson
  - assertion_based_verification
---
traffic light good example of real world safety instance (pedestrian and car lights do not work at the same time)
bounding a liveness property you essentially turn it into a safety properti