---
tags:
  - Lesson
  - funcitonal_formal_verification
---
Property checking is the same thing as model checking

put under macro `under env_constraint`
![[Drawing 2024-11-05 09.31.26.excalidraw|300]]

| a   | b   | a$\rightarrow$b |
| --- | --- | --------------- |
| 0   | 0   | 1               |
| 0   | 1   | 1               |
| 1   | 0   | 0               |
| 1   | 1   | 1               |
hp property satisfied
hr is the other one pointed at
![[Drawing 2024-11-05 09.51.53.excalidraw|300]]
