---
tags:
  - Lesson
  - funcitonal_formal_verification
---
Property checking is the same thing as model checking

put under macro `under env_constraint`
![[Drawing 2024-11-05 09.31.26.excalidraw|300]]