---
tags:
  - Lesson
  - simulation-based_verification
---
make sure there are no show stopper bugs, but not enough time to find all bugs