---
tags:
  - VerificationHierachy
---
Beyond course scope
- Marries the system-level hardware with the code that runs on it
- Combines techniques from the hardware verification and software testing domains
- This combination creates issues
	- different verification / testing techniques
	- different modes of operation
	- different speed
